@import '../../themes/_colors';

.content {
    border-right: solid 1px $themeGridGray;
    border-bottom: solid 1px $themeGridGray;    
}

.row {
    display: grid;
    grid-template-columns: 11% 28% 28% 11% 11% 11%;
    div {
        border-left: solid 1px $themeGridGray;
        border-top: solid 1px $themeGridGray;
        font-family: Helvetica;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.57px;
        padding: 20px;
        a {
            color: $themeBlue;
        }
    }
}

.tableHeader {
    font-weight: bold;
    background-color: $themeBGGray;
    svg {
        color: $themeBlue;
        margin-bottom: -2px;
        cursor: pointer;
    }
}

.filterBar {
    background-color: $themeBGGray;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 12px 16px;
    .filterLabel {
        margin: 6px 16px 6px 0;
        font-family: Helvetica;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.5px;
        color: $themeTextGray;
    }
    .selectionsNumber {
        background-color: $themeBlue;
        color: $themeWhite;
        width: 24px;
        height: 24px;
        padding: 0 7px 0 8px;
        border-radius: 2px;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.71;
        letter-spacing: 0.5px;
        margin: 0 80px 0 -80px;
        z-index: 1;
    }
    > div > div > button {
        margin: 0 30px 0 -30px; 
    }
    .arrowDown {
        color: $themeTextGray;
        margin: 0 10px 0 -50px;
        z-index: 2;
    }
}
