@import "~bootstrap/scss/bootstrap";
@import './themes/_colors';

*,*::before,*::after {
    box-sizing: border-box;
}

button {
    border: none;
    background-color: $themeLightBlue;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    span {           
        font-size: 20px;
        font-weight: bold;
        color: $themeBlue;
        margin-right: -6px;  
    }
}

.external-wrapper {
    padding: 32px;
    background: #fafafa;
}

.content-wrapper {
    background-color: $themeWhite;
    padding: 43px 32px 45px 32px;
    color: $themeBlack;
    border: solid 1px $themeGridGray;
    border-radius: 2px;
    width: 1376px;
}

.header {
    display: flex;
    padding: 0 0 16px 0;
    justify-content: space-between;
}

.title {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.86px;
    white-space: nowrap;
}

.add-button {    
    padding: 12px 16px 10px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: $themeBlue;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: center;
    color: $themeWhite;
    margin-top: -10px;
    cursor: pointer;
}

.rbt-aux {
    button {
        background-color: $themeWhite;
    }
}

.rbt-input-wrapper .rbt-token .rbt-token-remove-button {
    top: 0;
    border-radius: 2px;
}

.rbt .rbt-input-multi .rbt-token {
    background-color: $themeLightBlue;
    color: $themeBlack;
}

.list-content {
    border-right: solid 1px $themeGridGray;
    border-bottom: solid 1px $themeGridGray;    
}
